## Exercise 1
1. Write a script or function that asks the user to input 3 numbers, and output the product of the 3 numbers.
2. Your code should display an error message if one of the inputs is not a number.
3. Test your code on the following inputs:

    (5, -10, 20.0)
    
    (1, "blah", 5)

In [355]:
def product(num1,num2,num3):
    
    if isinstance(num1,(float,int)) and isinstance(num2,(float,int)) and isinstance(num3,(float,int)):
        return num1*num2*num3
    else:
        print("Inputs must be numbers.")

In [356]:
product(5, -10, 20.0)

-1000.0

In [357]:
product(1, "blah", 5)

Inputs must be numbers.

## Exercise 2
Suppose the first element of a sequence is $a_0 = 1$, the second element is $a_1 = 3$, and for every i>1, the $i$--th element of the sequence is defined by the recursive relation $a_i = \frac{(a_{i-1}-a_{i-2})^2}{3}$. (So $a_2 = 4/3$)

1. Write a function which outputs the $n$--th element of this sequence for a given integer $n$
1. Test your function for $n = 1, 5, 10, 15,$ and $20$

In [555]:
def sequence2(number):
    a = [1,3,0]
    i = 0
    j = 0
    if number == 0 or number == 1:
        
        return a[number]
    
    else:
        
        while j < number:
        
            temp = a[i]
            temp2 = a[i+1]
            result = ((temp - temp2)**2)/3
        
            temp3 = i+2
        
            a[temp3] = result
        
            a.append(a[temp3])
            
        
            i += 1
            j += 1
            
    return(a[temp3])

In [563]:
#TRIAL
print(sequence2(2))
print(sequence2(3))

0.925925925925926
0.0553269318701417

In [564]:
# Test your function for ð‘›= 1, 5, 10, 15, and  20
print(sequence2(1))
print(sequence2(5))
print(sequence2(10))
print(sequence2(15))
print(sequence2(20))

3
0.01297847362449752
4.964408292118622e-09
9.773822811440573e-73
2.9991684445577574e-281


## Exercise 3
1. Write a function which takes a list as input and outputs the largest integer entry. If there is none, return None.
2. Test your function on the following lists

[ 1, 9, 10.2, 6, -2] should output 9

[1.2, 3/4, "Hello World"] should output none

In [287]:
a = [1, 9, 10.2, 6, -2]
b = [1.2, 3/4, "Hello World"]

In [350]:
def maxnumber1(lst):
    i = lst[0]
    j = 0
    largest = lst[0]            
    if isinstance(i, int):
        while j in range(len(lst)):
            for i in lst:
                if isinstance(i, int):
                    if i > largest:
                        largest = i
                    i +=1
      
            j += 1
        print(largest)
    else:
        print(None)

In [351]:
maxnumber1(a)

9

In [352]:
maxnumber1(b)

None


## Exercise 4
1. Create a program that will make a deck of cards. Each card should be represented as a tuple of the form (value, suit), where value is a number between 2 and 10, Jack, Queen, King, or Ace, and suit is one of Spades, Clubs, Diamonds, or Hearts.
2. Create a function that takes in a hand (list) of 5 cards, and determines whether or not the hand is a "flush", meaning that all 5 cards are of the same suit.
3. Test your function by inputting the following hands:

Ace of Hearts, King of Hearts, Queen of Hearts, Jack of Hearts, 2 of Hearts

2 of Clubs, 3 of Spades, 4 of Clubs, 10 of Diamonds, Jack of Spades

In [634]:
def deck1():
    value = [2,3,4,5,6,7,8,9,10,"Ace","Jack",'Queen', "King"]
    suit = ["Spades", 'Clubs',"Diamonds", "Hearts"]
    i = 0 #for value
    j = 0 #for suit
    k = 0
    
    while k < 1:
        
        for j in range(len(suit)):
            i = 0
            
            while i < 13:
                
                together = value[i], suit[j]
                print(together)

                i += 1
                
            j += 1
            
        k +=1

In [635]:
deck1()

(2, 'Spades')
(3, 'Spades')
(4, 'Spades')
(5, 'Spades')
(6, 'Spades')
(7, 'Spades')
(8, 'Spades')
(9, 'Spades')
(10, 'Spades')
('Ace', 'Spades')
('Jack', 'Spades')
('Queen', 'Spades')
('King', 'Spades')
(2, 'Clubs')
(3, 'Clubs')
(4, 'Clubs')
(5, 'Clubs')
(6, 'Clubs')
(7, 'Clubs')
(8, 'Clubs')
(9, 'Clubs')
(10, 'Clubs')
('Ace', 'Clubs')
('Jack', 'Clubs')
('Queen', 'Clubs')
('King', 'Clubs')
(2, 'Diamonds')
(3, 'Diamonds')
(4, 'Diamonds')
(5, 'Diamonds')
(6, 'Diamonds')
(7, 'Diamonds')
(8, 'Diamonds')
(9, 'Diamonds')
(10, 'Diamonds')
('Ace', 'Diamonds')
('Jack', 'Diamonds')
('Queen', 'Diamonds')
('King', 'Diamonds')
(2, 'Hearts')
(3, 'Hearts')
(4, 'Hearts')
(5, 'Hearts')
(6, 'Hearts')
(7, 'Hearts')
(8, 'Hearts')
(9, 'Hearts')
(10, 'Hearts')
('Ace', 'Hearts')
('Jack', 'Hearts')
('Queen', 'Hearts')
('King', 'Hearts')

In [715]:
a = ["Ace of Hearts", "King of Hearts" , "Queen of Hearts", "Jack of Hearts", "2 of Hearts"]
b = ["2 of Clubs", "3 of Spades", "4 of Clubs", "10 of Diamonds", "Jack of Spades"]

In [716]:
def flush(lst):
    card1 = str(lst[0])
    card2 = str(lst[1])
    card3 = str(lst[2])
    card4 = str(lst[3])
    card5 = str(lst[4])
    
    if card1[-4:] == card2[-4:] ==card3[-4:] ==card4[-4:] == card5[-4:]:
        print("Flush true")
    else:
        print("Not flush")

In [717]:
flush(a)

Flush true

In [719]:
flush(b)

Not flush


## Exercise 5
1. Write a function or script that takes in a string and whose output is the input string minus all of a specified character. For example, an input of "Hello World" where "l" is removed should result in "Heo Word"
2. Test your function by specifying "i" to be removed from "Supercalifragilisticexpialidocious"
3. Test your function by specifying "data" to be removed from "data 3401 introduction to python for data science"

In [74]:
def delete(string):
    deleted = input("What do you want deleted? : ")
    new = string.replace( deleted , "")
    return new

In [75]:
delete("Hello World" )

What do you want deleted? : l

'Heo Word'

In [76]:
delete("Supercalifragilisticexpialidocious")

What do you want deleted? : i

'Supercalfraglstcexpaldocous'

In [78]:
delete("data 3401 introduction to python for data science")

What do you want deleted? : data

' 3401 introduction to python for  science'